@{
    ViewData["Title"] = "Home Page";
}




          <div class=" container    container-fixed-lg">
            <div id="rootwizard" class="m-t-50">
           
              <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm" role="tablist" data-init-reponsive-tabs="dropdownfx">
                <li class="nav-item">
                  <a class="active" data-toggle="tab" href="#tab1" role="tab"><i class="fa fa-cutlery tab-icon"></i> <span>Visit Details</span></a>
                </li>
                <li class="nav-item">
                  <a class="" data-toggle="tab" href="#tab2" role="tab"><i class="fa fa-address-card-o tab-icon"></i> <span>Customer Details</span></a>
                </li>
                <li class="nav-item">
                  <a class="" data-toggle="tab" href="#tab3" role="tab"><i class="fa fa-check-square-o tab-icon"></i> <span>General Survey</span></a>
                </li>
                <li class="nav-item">
                  <a class="" data-toggle="tab" href="#tab4" role="tab"><i class="fa fa-check tab-icon"></i> <span>Finish</span></a>
                </li>
              </ul>
             
              <div class="tab-content">
                <div class="tab-pane padding-20 sm-no-padding active slide-left" id="tab1">
                  <div class="row row-same-height">
                    <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
                      <div class="padding-30 sm-padding-5 sm-m-t-15 m-t-50">

                        <h2>We welcome your feedback!</h2>
                        <p> Please fill in the following. (* indicates required response)</p>
                        <p class="small hint-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nulla tellus, rutrum sed laoreet sit amet, rutrum vel augue. Nullam </p>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="padding-30 sm-padding-5">
					
			
                  <div class="card-block">
                    <h5>
							Visit Details
						</h5>
                    <form class="" role="form">
					

                         <div class="row">
                        <div class="col-md-6">
                           <div class="form-group form-group-default form-group-default-select2 required">
                                  <label>Country</label>
								              <select class="full-width" data-placeholder="Select Country" data-init-plugin="select2">
                  
                            <option value="AK">Alaska</option>
                            <option value="HI">Hawaii</option>
                      
                          
                            <option value="CA">California</option>
                            <option value="NV">Nevada</option>
                            <option value="OR" selected>Qatar</option>
                            <option value="WA">Washington</option>
                    
                        </select>
                         </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group form-group-default form-group-default-select2 required">
                        <label class="">Outlet</label>
                        <select class="full-width" data-placeholder="Select Outlet" data-init-plugin="select2">
               
                            <option value="CA" selected>Ghanem</option>
                            <option value="NV">Mall Of Qatar</option>
  
                  
                        </select>
                      </div>
                        </div>
                      </div>

					 
                             
					
					
					
					   
                      		
					     <div class="form-group form-group-default form-group-default-select2 required">
                        <label class="">Manager</label>
                        <select class="full-width" data-placeholder="Select Manager" data-init-plugin="select2">
               

							  <option value="" selected></option>

							<option value="ERWIN_QATAR">ERWIN_QATAR (Assistant Outlet Manager @@ GHANEM)</option>

							<option value="AHMAD_QATAR">AHMAD_QATAR (Franchise Manager @@ GHANEM)</option>

							<option value="MUSA_QATAR">MUSA_QATAR (Regional Manager @@ GHANEM)</option>
                  
                        </select>
                      </div>
					  
					  			     <div class="form-group form-group-default form-group-default-select2 required">
                        <label class="">Staff</label>
                        <select class="full-width" data-placeholder="Select Staff" data-init-plugin="select2">
               

							  <option value="" selected></option>


							<option value="char">char (Outlet Staff @@ GHANEM)</option>

							<option value="cons">cons (Outlet Staff @@ GHANEM)</option>

							<option value="CHRISTELLE">CHRISTELLE (Outlet Staff @@ GHANEM)</option>

							<option value="ORLANDO_QATAR">ORLANDO_QATAR (Outlet Staff @@ GHANEM)</option>

							<option value="JV">JV (Outlet Staff @@ GHANEM)</option>

							<option value="FRANCIS">FRANCIS (Outlet Staff @@ GHANEM)</option>

							<option value="RICKY">RICKY (Outlet Staff @@ GHANEM)</option>

							<option value="ROGELYNE">ROGELYNE (Outlet Staff @@ GHANEM)</option>

							<option value="MFMQa">MFMQa (Regional Staff @@ GHANEM)</option>

							<option value="ALDIN_QATAR">ALDIN_QATAR (Outlet Staff @@ GHANEM)</option>

							<option value="MARIZ">MARIZ (Outlet Staff @@ GHANEM)</option>

							<option value="CRISTINE">CRISTINE (Outlet Staff @@ GHANEM)</option>
                  
                        </select>
                      </div>

   
                          <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-default required">
                        <label>TABLE NO</label>
                        <input type="text" class="form-control" required>
                      </div>
                        </div>
                        <div class="col-md-6">
                         <div class="form-group  form-group-default required">
                        <label>Check No</label>
                <input type="text" class="form-control" required>
                      </div>
                        </div>
                      </div>
                    </form>
                  </div>
              
					
					</div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane slide-left padding-20 sm-no-padding" id="tab2">
                  <div class="row row-same-height">
                    <div class="col-md-5 b-r b-dashed b-grey ">
                      <div class="padding-30 sm-padding-5 sm-m-t-15 m-t-50">
                        <h2>Thank You for Visiting Manhattan Fish Market</h2>
                        <p>We hope you had a good time! Your dining experience is valuable to us. Share your experience with us! No thought is too fishy for us.</p>
                        <p class="small hint-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nulla tellus, rutrum sed laoreet sit amet, rutrum vel augue. Nullam </p>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="padding-30 sm-padding-5">
                    
   <div class="card-block">
                    <h5>
							Customer Details
						</h5>
                    <form class="" role="form">
          
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group form-group-default required">
                            <label>First name</label>
                            <input type="text" class="form-control" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>Last name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
             
                      <div class="form-group  form-group-default required">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="ex: some@@example.com" required>
                      </div>
					      <div class="form-group">
                    <br/>
                              <input type="checkbox" data-init-plugin="switchery" data-size="small" data-color="primary" checked="checked" />     <label>	SUBSCRIBE EMAIL TO NEWS AND DEALS.
</label>
                      </div>
					  <div class="form-group form-group-default required">
                        <label>Mobile</label>
                        <input type="text" class="form-control" required>
                      </div>
                  
                    </form>
                  </div>
               

					</div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane slide-left padding-20 sm-no-padding" id="tab3">
				   <div class="row row-same-height">
 
                    <div class="col-md-12">
                      <div class="padding-0 sm-padding-5">
                    
                <div class="card-block padding-0" style="margin-left:40px;"  >
            	   <div class="row"> <div class="col-md-12">
                         <h4  class="pull-left">General Survey</h4>
                       <div class="pull-right">
                           <div class="btn btn-default btn-large" style="border:none !important;">  <h5  >Progress 1 of 6 (70% Completed) </h5> </div>
                           <div class="btn btn-default btn-large" id="question-nav-up"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
                            <div class="btn btn-default btn-large" id="question-nav-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                       </div>
                       </div>
                       
                   </div>
       
                    <div id="containerdiv" class="wrapper scroll-scrolly_visible" style="padding-left:80px !important;">
 

                        <form class="form" action="" id="formSurvey">
                            	     <div class="field">
    		  
                                <div class="form-group">
                                    <br/>



                                    <h5 class="question-header">Q1. Value</h5>
                                    <span>Please rate our value on a scale of 1(poor) to 10(Excellent) *</span>
                  
                                    <div class="btn-toolbar" 
                                         id="q1BtnToolbar"
                                         role="toolbar" 
                                         data-animation="false"
                                         data-container='#formSurvey'
                                         data-toggle="popover"
                                         data-placement="bottom"
                                         data-content="Please fill this in" 
                                         title="" data-original-title="">

                                        <div class="btn-group btn-group-lg">
                                            <button type="button" class="btn btn-default">1</button>
                                            <button type="button" class="btn btn-default">2</button>
                                            <button type="button" class="btn btn-default">3</button>
                                            <button type="button" class="btn btn-default">4</button>
                                            <button type="button" class="btn btn-default">5</button>
                                            <button type="button" class="btn btn-default">6</button>
                                            <button type="button" class="btn btn-default">7</button>
                                            <button type="button" class="btn btn-default">8</button>
                                            <button type="button" class="btn btn-default">9</button>
                                            <button type="button" class="btn btn-default">10</button>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <label class="lblComment" visible-from="1"  visible-to="7">We are so sorry, please let us know how we can offer a better value for your next visit? </label>
                                <label  class="lblComment" visible-from="8"  visible-to="10">We are glad that you appreciate our great value. Please tell us what you think is the best value.</label>
                                <textarea visible-from="1"  visible-to="10" rows="2"></textarea>
                            </div>
                          
                            <div class="field">
		  
                                <div class="form-group" >
                                <br/>



                                <h5 class="question-header">Q2. Quality</h5>
                                <span >Please rate our quality on a scale of 1(poor) to 10(Excellent) *</span>
                  
                                    @*<div class="btn-toolbar red-tooltip"  data-container="body" role="toolbar"  data-toggle="popover" data-placement="bottom"
       title="" data-original-title="Please fill this in">*@

                               <div class="btn-toolbar" 
                                         id="q2BtnToolbar"
                                         role="toolbar" 
                                         data-animation="false"
                                         data-container='#formSurvey'
                                         data-toggle="popover"
                                         data-placement="bottom"
                                         data-content="Please fill this in" 
                                         title="" data-original-title="">

                                        


                                        <div class="btn-group btn-group-lg">
                                            <button type="button" class="btn btn-default">1</button>
                                            <button type="button" class="btn btn-default">2</button>
                                            <button type="button" class="btn btn-default">3</button>
                                            <button type="button" class="btn btn-default">4</button>
                                            <button type="button" class="btn btn-default">5</button>
                                            <button type="button" class="btn btn-default">6</button>
                                            <button type="button" class="btn btn-default">7</button>
                                            <button type="button" class="btn btn-default">8</button>
                                            <button type="button" class="btn btn-default">9</button>
                                            <button type="button" class="btn btn-default">10</button>
                                        </div>
                                    </div>
                                </div>
                                                          <br />
                              
                                <label class="lblComment" visible-from="1"  visible-to="7">We are sorry to disappoint you. Please let us know how we can improve the quality of our items for your next visit.</label>
                                <label class="lblComment" visible-from="8"  visible-to="10">We are glad that you enjoyed quality dining at our outlet. Please tell us which quality impressed you the most?</label>
                                <textarea visible-from="1"  visible-to="10" rows="2"></textarea>
                             
                                   
                                
                            </div>
                         <div class="field">
    		  
                                <div class="form-group">
                                    <br/>



                                    <span  class="question-header">Q3. Service</span>
                                    <span >Please rate our service on a scale of 1(poor) to 10(Excellent) *</span>
                  
                                   <div class="btn-toolbar" 
                                         id="q3BtnToolbar"
                                         role="toolbar" 
                                         data-animation="false"
                                         data-container='#formSurvey'
                                         data-toggle="popover"
                                         data-placement="bottom"
                                         data-content="Please fill this in" 
                                         title="" data-original-title="">



                                        <div class="btn-group btn-group-lg">
                                            <button type="button" class="btn btn-default">1</button>
                                            <button type="button" class="btn btn-default">2</button>
                                            <button type="button" class="btn btn-default">3</button>
                                            <button type="button" class="btn btn-default">4</button>
                                            <button type="button" class="btn btn-default">5</button>
                                            <button type="button" class="btn btn-default">6</button>
                                            <button type="button" class="btn btn-default">7</button>
                                            <button type="button" class="btn btn-default">8</button>
                                            <button type="button" class="btn btn-default">9</button>
                                            <button type="button" class="btn btn-default">10</button>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <label  class="lblComment" visible-from="1"  visible-to="7">We are so sorry to disappoint you. Please let us know what went wrong and how we can serve you better on your next visit.  </label>
                                <label  class="lblComment" visible-from="8"  visible-to="10">We are so glad to have made your day. Please let us know what you like most about our service? </label>
                                <textarea visible-from="1"  visible-to="10" rows="2"></textarea>
                            </div>
                        
                             <div class="field">
    		  
                                <div class="form-group">
                                    <br/>



                                    <span class="question-header">Q4. Ambience</span>
                                    <span>Please rate our ambience on a scale of 1(poor) to 10(Excellent) *</span>
                  
                                  <div class="btn-toolbar" 
                                         id="q4BtnToolbar"
                                         role="toolbar" 
                                         data-animation="false"
                                         data-container='#formSurvey'
                                         data-toggle="popover"
                                         data-placement="bottom"
                                         data-content="Please fill this in" 
                                         title="" data-original-title="">

                                        <div class="btn-group btn-group-lg">
                                            <button type="button" class="btn btn-default">1</button>
                                            <button type="button" class="btn btn-default">2</button>
                                            <button type="button" class="btn btn-default">3</button>
                                            <button type="button" class="btn btn-default">4</button>
                                            <button type="button" class="btn btn-default">5</button>
                                            <button type="button" class="btn btn-default">6</button>
                                            <button type="button" class="btn btn-default">7</button>
                                            <button type="button" class="btn btn-default">8</button>
                                            <button type="button" class="btn btn-default">9</button>
                                            <button type="button" class="btn btn-default">10</button>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                 

                                <label class="lblComment" visible-from="1"  visible-to="7">We are so sorry that you are disappointed with the ambience of our outlet. Please let us know how we can correct the ambience and not repeat the mistake on your next visit.  </label>
                                <label class="lblComment" visible-from="8"  visible-to="10">We are glad to have made your day. Please let us know what you like about the ambience? </label>
                                <textarea visible-from="1"  visible-to="10" rows="2"></textarea>
                            </div>
                                 <div class="field">
    		  
                                <div class="form-group">
                                    <br/>



                                    <span class="question-header" >Q5. Your most recent visit</span>

                                    <span>When was your last visit to our restaurant? (*)</span>
                                     

                                     <div class="row" style="margin:10px;">
                                        <div class="col-md-4">
                                                     <div class="btn btn-lg btn-default btn-cons" btn-type="select" >
                                                             <span class="badge btn-badge">A</span>
                                                            <span>Never</span>
                                                                  <i class="fa fa-check pull-right" style="margin-left:5px;"></i>
                                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                         <div class="btn btn-default btn-lg btn-cons" btn-type="select">
                                             <span class="badge btn-badge">B</span>
                                                            <span>6 Months</span>
                                                      <i class="fa fa-check pull-right" style="margin-left:5px;"></i>
                                                          </div>
                                        </div>
                                      </div>


                                      <div class="row" style="margin:10px;">
                                        <div class="col-md-4">
                                      <div class="btn btn-default btn-lg btn-cons"  btn-type="select">
                                           <span class="badge btn-badge">C</span>
                                                            <span>1 Month</span>
                                                   <i class="fa fa-check pull-right" style="margin-left:5px;"></i>
                                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                       <div class="btn btn-default btn-lg btn-cons" btn-type="select">
                                               <span class="badge btn-badge">D</span>
                                                            <span>> 6 Months </span>
                                                    <i class="fa fa-check pull-right" style="margin-left:5px;"></i>
                                                          </div>
                                        </div>
                                      </div>

                                     <div class="row" style="margin:10px;">
      
                                        <div class="col-md-4">
                                      <div class="btn btn-default btn-lg btn-cons" btn-type="select">
                                              <span class="badge btn-badge">E</span>
                                                            <span>3 Months</span>
                                          <i class="fa fa-check pull-right" style="margin-left:5px;"></i>
                                                    </div>
                                        </div>
                                      </div>
                               

                                     
                                       
                                         
                                                      
                                </div>

                                 <br />

                            </div>

                              <div class="field last-field">
    		  
                                <div class="form-group">
                                    <br/>



                                    <span class="question-header" >Q6. Recommend</span>
                                    <span>On a scale of 1 (least likely) to 10 (most likely), would you recommend us to your friends? (*)</span>
                  
                                      <div class="btn-toolbar" 
                                         id="q6BtnToolbar"
                                         role="toolbar" 
                                         data-animation="false"
                                         data-container='#formSurvey'
                                         data-toggle="popover"
                                         data-placement="bottom"
                                         data-content="Please fill this in" 
                                         title="" data-original-title="">

                                        <div class="btn-group btn-group-lg">
                                            <button type="button" class="btn btn-default">1</button>
                                            <button type="button" class="btn btn-default">2</button>
                                            <button type="button" class="btn btn-default">3</button>
                                            <button type="button" class="btn btn-default">4</button>
                                            <button type="button" class="btn btn-default">5</button>
                                            <button type="button" class="btn btn-default">6</button>
                                            <button type="button" class="btn btn-default">7</button>
                                            <button type="button" class="btn btn-default">8</button>
                                            <button type="button" class="btn btn-default">9</button>
                                            <button type="button" class="btn btn-default">10</button>
                                        </div>
                                    </div>
                                </div>
                                 <br />

                               <label class="lblComment" visible-from="1"  visible-to="7">Are there any areas that did not meet your expectations? </label>
                                <textarea visible-from="1"  visible-to="7" rows="2"></textarea>
                                
                                <br class="lblComment" visible-from="1"  visible-to="7"/>
                                <label class="lblComment" visible-from="1"  visible-to="7">How can we improve to better serve you for your next visit? </label>
                                <textarea visible-from="1"  visible-to="7" rows="2"></textarea>



                                <label class="lblComment" visible-from="8"  visible-to="10">Are there any suggestions for us to serve you better? </label>
                                <textarea visible-from="8"  visible-to="10" rows="2"></textarea>
                            </div>

 
                        </form>
                        </div>





                </div>
               

					</div>
                    </div>
                  </div>
               
				
              </div>
                <div class="tab-pane slide-left padding-20 sm-no-padding" id="tab4">
                     <div class="row row-same-height">
                    <div class="col-md-5 b-r b-dashed b-grey ">
                      <div class="padding-30 sm-padding-5 sm-m-t-15 m-t-50">
			
                        <h2>Thank You for your valuable feedback</h2>
                        <p>Your support encourages us to provide you with better services! We hope to see you again in any of our outlets. Have a good day Ahead!</p>
                        <p class="small hint-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nulla tellus, rutrum sed laoreet sit amet, rutrum vel augue. Nullam </p>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="padding-30 sm-padding-5">
                    
   <div class="card-block">
                    <h3>
							Social Media
						</h3>
                    <form class="" role="form">

					  <div class="card-block">

                <div class="">
                 
                  <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
                    <div><i class="fa fa-facebook large-text "></i>
                    </div>
                  </div>
             
                  <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5">Share and Like us on facebook</h5>
                    <p class="hint-text">via facebook</p>
                  </div>
                </div>
            
                <div class="">
     
                  <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
                    <div><i class="fa fa-twitter large-text "></i>
                    </div>
                  </div>
                 
                  <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5">Follow us on Twitter</h5>
                    <p class="hint-text">via twitter</p>
                  </div>
                </div>
             
                <div class="">
                
                  <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
                    <div><i class="fa fa-google-plus large-text "></i>
                    </div>
                  </div>
           
                  <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5">Circles on Google Plus</h5>
                    <p class="hint-text">via google plus</p>
                  </div>
                </div>
                
              </div>
					  
				
				

                    </form>
                  </div>
               

					</div>
                    </div>
                  </div>
               
				
		
                </div>
                <div class="padding-20 sm-padding-5 sm-m-b-20 sm-m-t-20 bg-white clearfix">
                  <ul class="pager wizard no-style">
                    <li class="next">
                      <button id="btnSubmit" class="btn btn-primary btn-cons btn-animated from-left fa fa-truck pull-right" type="button">
                        <span>Next</span>
                      </button>
                    </li>
                    <li class="next finish hidden">
                      <button class="btn btn-primary btn-cons btn-animated from-left fa fa-cog pull-right" type="button">
                        <span>Finish</span>
                      </button>
                    </li>
                    <li class="previous first hidden">
                      <button class="btn btn-default btn-cons btn-animated from-left fa fa-cog pull-right" type="button">
                        <span>First</span>
                      </button>
                    </li>
                    <li class="previous">
                      <button class="btn btn-default btn-cons pull-right" type="button">
                        <span>Previous</span>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="wizard-footer padding-20 bg-master-light">
                  <p class="small hint-text pull-left no-margin">
                    The Top Content Is Soley Created using pages UI Elements such as Invoice, Tabs, Form Layouts etc. and are prior for representation Purpose Only.
                  </p>
                  <div class="pull-right">
                    <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          



    <style>
        .qLabel {
            font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: 24px !important;
        }

        .btnRating {
            width: 70px !important;
            height: 64px !important;
        }
        .btn-toolbar{
            margin-bottom: 70px;
            margin-left: 25px;
            margin-top: 20px;
        }
    </style>

 

